# Ignore build directories
/x64/
/OpenGL_Starting_Point/x64/
build/
bin/
obj/

# Ignore Visual Studio files
*.user
*.suo
*.log
*.sdf
*.VC.db
*.VC.opendb

# Track Visual Studio project files
#*.vcxproj
#*.vcxproj.filters
#*.sln

# Still ignore user-specific project files
*.vcxproj.user

# Ignore Visual Studio Code and JetBrains files
.vs/
.vscode/
.idea/

# Ignore compiled files
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.idb

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp
.DS_Store

# Ignore any other unwanted files/folders
*.class
*.jar
*.war

